$module_navbar_logo_height: 40px;
$module_navbar_space: 10px;

.module_navbar {
  @include calc(height, $module_navbar_logo_height + " + 2 * " + $module_navbar_space);
  padding-top: $module_navbar_space;
  padding-bottom: $module_navbar_space;
  background-color: $module_navbar_background_color;
  color: $module_navbar_font_color;
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}


.module_navbar_logo_list {
  float: right;
}

.module_navbar_logo {
  height: $module_navbar_logo_height;
  width: $module_navbar_logo_height;
  border-radius: $module_navbar_logo_height;
  border-width: 2px;
  border-style: solid;
  border-color: $secondary-color;
  margin-left: 20px;
}

.module_navbar_logo:hover {
  height: $module_navbar_logo_height;
  width: $module_navbar_logo_height;
  border-radius: $module_navbar_logo_height;
  border-color: black;
}

.module_navbar_link {
  color: $primary-font-color;
  text-decoration: none;
}

.module_navbar_link + .module_navbar_link {
  margin-left: 10px;
}

.module_navbar_link:active {
  @extend .module_navbar_link;
}

.module_navbar_link:hover {
  @extend .module_navbar_link;
  cursor: pointer;
  font-weight: bold;
}

.module_navbar_link:link {
  @extend .module_navbar_link;
}

.module_navbar_link_list {
  font-size: 25px;
  vertical-align: middle;
  float: left;
  display: none;
  @include respond-to(medium) {
    display: inline-block;
  }
}

.module_navbar_link_list_button {
  display: inline-block;
  vertical-align: middle;
  float: left;
  cursor: pointer;
  @include respond-to(medium) {
    display: none;
  }
}



.headroom {
  width: 100%;
  background-color: $primary-color;
  position: fixed;
  top: 0px;
  left: 0px;
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--top {
  opacity: 0.75;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
