$module_navbar_space: 10px;
$module_navbar_icon_size: 50px;

.module_navbar {
  height: auto;
  padding-top: $module_navbar_space;
  padding-bottom: $module_navbar_space;
  background-color: $module_navbar_background_color;
  color: $module_navbar_font_color;
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.module_navbar_link {
  color: $primary-font-color;
  text-decoration: none;
  margin: 10px;
}

.module_navbar_link + .module_navbar_link {
  @include respond-to(medium) {
    margin-left: 20px;
    margin-right: 0px;
  }
}

.module_navbar_link:active {
  @extend .module_navbar_link;
}

.module_navbar_link:hover {
  @extend .module_navbar_link;
  cursor: pointer;
  font-weight: bold;
}

.module_navbar_link:link {
  @extend .module_navbar_link;
}

.module_navbar_link_group {
  vertical-align: middle;
  float: left;
  width: 100%;
  text-align: center;

  @include respond-to(medium) {
      text-align: left;
  }
}

.module_navbar_link_text {
  font-size: 25px;
  display: none;

  @include respond-to(medium) {
    display: inline-block;
  }
}

.module_navbar_link_icon {
  display: inline-block;
  width: $module_navbar_icon_size;
  text-align: center;
  @include respond-to(medium) {
    display: none;
  }
}




.headroom {
  width: 100%;
  background-color: $primary-color;
  position: fixed;
  top: 0px;
  left: 0px;
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--top {
  opacity: 0.75;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
