// sass-lint:disable no-important
.menu {
  width: 100%;
  background-color: $module-navbar-background-color !important;
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
  transition: transform 200ms linear;
  z-index: 10;

  .item {
    color: $module-navbar-font-color !important;
    font-size: $module-navbar-font-size;
    cursor: pointer;
  }
}

.headroom--top {
  opacity: .75;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
