// sass-lint:disable no-important

$module-home-content-padding: 20%;
$module-home-profile-picture-height: 200px;
$module-home-button-size: 50px;

.module-home {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: rgba($module-home-secondary-color, .25);
}

.module-home-content {
  margin: auto;
  width: 100%;
}

.module-home-profile-picture {
  @include shadow-box($module-home-secondary-color);
  width: $module-home-profile-picture-height;
  height: $module-home-profile-picture-height;
  border-radius: $module-home-profile-picture-height;
  border-color: $module-home-secondary-color;
  border-width: 2px;
  border-style: solid;
}

.module-home-typewriter {
  margin-top: 50px;
  font-size: 25px;
}

.module-home-background {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.module-home-button {
  @include calc(left, '50% - ' + $module-home-button-size + ' / 2');
  @include calc(bottom, $module-home-button-size + ' / 2');
  width: $module-home-button-size;
  height: $module-home-button-size;
  border-radius: $module-home-button-size;
  position: absolute;
  cursor: pointer;
  background-color: $module-home-primary-color !important;
  color: $module-home-secondary-color !important;
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}
