$module_home_content_padding: 20%;
$module_home_profile_picture_height: 200px;
$module_home_button_size: 50px;

.module_home {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
}

.module_home_content {
  margin: auto;
  width: 100%;
}

.module_home_profile_picture {
  width: $module_home_profile_picture_height;
  height: $module_home_profile_picture_height;
  border-radius: $module_home_profile_picture_height;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  @include shadowBox($gray);
}

.module_home_typewriter {
  margin-top: 50px;
  font-size: 25px;
}

.module_home_background {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.module_home_button {
  width: $module_home_button_size;
  height: $module_home_button_size;
  border-radius: $module_home_button_size;
  position: absolute;
  cursor:pointer;
  background-color: $primary-color;
  color: $primary-font-color;
  opacity: 0.75;
  @include calc(left, "50% - " + $module_home_button_size + " / 2");
  @include calc(bottom, $module_home_button_size + " / 2");
}

.module_home_button:hover {
  opacity: 1;
}
