// sass-lint:disable no-important

.module-footer {
  width: 100%;
  background-color: $module-footer-primary-color;
  padding: $module-footer-space;

  p {
    margin: 0;
  }
}

.module-footer-content-left {
  width: 45%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.module-footer-center {
  width: 10%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

}

.module-footer-button {
  background-color: $module-footer-secondary-color !important;
  color: $module-footer-primary-color !important;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: .75;
  }
}

.module-footer-content-right {
  width: 45%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}
