$module-footer-space: $space;
$module-footer-vertical-align: middle;
$module-footer-button-size: 50px;

.module-footer {
  width: 100%;
  background-color: $secondary-color;
  padding: $module-footer-space;

  p {
    margin: 0;
  }
}

.module-footer-content-left {
  width: 45%;
  display: inline-block;
  text-align: left;
  vertical-align: $module-footer-vertical-align;
}

.module-footer-center {
  width: 10%;
  display: inline-block;
  text-align: center;
  vertical-align: $module-footer-vertical-align;

  button {
    width: $module-footer-button-size;
    height: $module-footer-button-size;
    border-radius: $module-footer-button-size;
    background-color: $primary-color;
    color: $secondary-color;
    opacity: .75;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.module-footer-content-right {
  width: 45%;
  display: inline-block;
  text-align: right;
  vertical-align: $module-footer-vertical-align;
}
