$module-about-space: $space;
$module-about-logo-size: 60px;

.module-about {
  padding: 10%;
  padding-top: $module-about-space;
  padding-bottom: $module-about-space;
  text-align: center;
}

.module-about-logo {
  height: $module-about-logo-size;
  width: $module-about-logo-size;
  border-radius: $module-about-logo-size;
  border-width: 2px;
  border-style: solid;
  border-color: $primary-color;
  margin-left: $space / 2;
  margin-right: $space / 2;

  &:hover {
    border-color: $secondary-color;
  }
}

.module-about-content {
  font-size: 20px;
  padding-top: $module-about-space;
  padding-bottom: $module-about-space;
  border-bottom-style: solid;
  border-bottom-color: $primary-font-color;
  border-bottom-width: 1px;
}

.module-about-links {
  padding-top: $module-about-space;
}

.module-about-download {
  margin-top: $space;
  cursor: pointer;
}
