// sass-lint:disable no-important
.module-about {
  padding: $border-space;
  padding-top: $module-about-space;
  padding-bottom: $module-about-space;
  text-align: center;
  background-color: $module-about-primary-color;
}

.module-about-logo {
  height: $module-about-logo-size;
  width: $module-about-logo-size;
  border-radius: $module-about-logo-size;
  border-width: 2px;
  border-style: solid;
  border-color: $module-about-primary-color;
  margin-left: $space / 2;
  margin-right: $space / 2;

  &:hover {
    border-color: $module-about-secondary-color;
  }
}

.module-about-title {
  font-size: $module-about-title-size;
}

.module-about-content {
  font-size: $module-about-font-size;
  padding-top: $module-about-space;
  padding-bottom: $module-about-space;
  border-bottom-style: solid;
  border-bottom-color: $module-about-secondary-color;
  border-bottom-width: 1px;
}

.module-about-links {
  padding-top: $module-about-space;
}

.module-about-download {
  margin-top: $space !important;
  background-color: $module-about-secondary-color !important;
  cursor: pointer;
}
