$module_skill_list_gauge_size: 50px;
$module_skill_list_space: $space;

.module_skill_list {
  background-color: $secondary-color;
  padding: 10%;
  padding-top: $module_skill_list_space;
  padding-bottom: $module_skill_list_space;
}

.module_skill_list_gauge {
  height: $module_skill_list_gauge_size;
  width: $module_skill_list_gauge_size;
  vertical-align: middle;
  margin-right: 20px;
}

.module_skill_list_name {
  font-size: 22px;
  font-weight: 200;
}

.module_skill_list_group {
  width: 100%;
  margin-top: $module_skill_list_space;

  h3 {
    margin-bottom: $module_skill_list_space;
    font-weight: 300;
  }
}

.module_skill_list_block {
  margin-bottom: $module_skill_list_space;
  text-align: left;
  display: inline-block;
  width: 100%;
  @include respond-to(medium) {
    width: 50%;
  };

  @include respond-to(large) {
    width: 33.33%;
  };
}

.module_skill_list_title {
  text-align: right;
  font-size: 40px;
}
