// sass-lint:disable mixins-before-declarations

$module-skill-list-gauge-size: 50px;
$module-skill-list-space: $space;

.module-skill-list {
  background-color: $secondary-color;
  padding: 10%;
  padding-top: $module-skill-list-space;
  padding-bottom: $module-skill-list-space;
}

.module-skill-list-gauge {
  height: $module-skill-list-gauge-size;
  width: $module-skill-list-gauge-size;
  vertical-align: middle;
  margin-right: 20px;
}

.module-skill-list-name {
  font-size: 22px;
  font-weight: 200;
}

.module-skill-list-group {
  width: 100%;
  margin-top: $module-skill-list-space;

  h3 {
    margin-bottom: $module-skill-list-space;
    font-weight: 300;
  }
}

.module-skill-list-block {
  margin-bottom: $module-skill-list-space;
  text-align: left;
  display: inline-block;
  width: 100%;

  @include respond-to(medium) {
    width: 50%;
  };

  @include respond-to(large) {
    width: 33.33%;
  };
}

.module-skill-list-title {
  text-align: right;
  font-size: 40px;
}
