// sass-lint:disable mixins-before-declarations no-important

$module-project-list-space: $space;

.module-project-list {
  padding: $border-space;
  padding-top: $module-project-list-space;
  padding-bottom: $module-project-list-space;
  background-color: $module-project-list-primary-color;
}

.module-project-list-title {
  text-align: right;
  font-size: $module-project-list-title-size;
}

.module-project-list-project {
  @include calc(width, '100% - 2 * ' + $module-project-list-space);
  @include shadow-box($module-project-list-primary-color);

  vertical-align: middle;
  background-color: $module-project-list-secondary-color;
  border-width: 0;
  border-color: $module-project-list-primary-color;
  border-style: solid;
  border-radius: 5px;
  padding: $module-project-list-space;
  margin: $module-project-list-space;
  font-size: $module-project-list-font-size;
  text-align: center;

  @include respond-to(medium) {
    @include calc(width, '50% - 2 * ' + $module-project-list-space);
    display: inline-block;
  }

  h3 {
    margin-bottom: $module-project-list-space;
  }

  div {
    margin-bottom: $module-project-list-space;
  }

  button {
    cursor: pointer;
    background-color: $module-project-list-primary-color !important;
  }
}
