// sass-lint:disable mixins-before-declarations

$module-project-list-space: $space;
$module-project-list-background: transparent;

.module-project-list {
  padding: 10%;
  padding-top: $module-project-list-space;
  padding-bottom: $module-project-list-space;
}

.module-project-list-title {
  text-align: right;
  font-size: 40px;
}

.module-project-list-project {
  @include calc(width, '100% - 2 * ' + $module-project-list-space);
  @include shadow-box($secondary-color);

  vertical-align: middle;
  background-color: $primary-color;
  border-width: 0;
  border-color: $secondary-color;
  border-style: solid;
  border-radius: 5px;
  padding: $module-project-list-space;
  margin: $module-project-list-space;
  text-align: center;

  @include respond-to(medium) {
    @include calc(width, '50% - 2 * ' + $module-project-list-space);
    display: inline-block;
  }

  h3 {
    margin-bottom: $module-project-list-space;
  }

  div {
    margin-bottom: $module-project-list-space;
  }

  button {
    cursor: pointer;
  }
}
