// sass-lint:disable mixins-before-declarations no-important
$module-rubric-timeline-space-mobile: 64px;
$module-rubric-timeline-space-desktop: 10%;


.module-rubric {
  padding: $border-space;
  padding-top: $module-rubric-space;
  padding-bottom: $module-rubric-space;
  background-color: $module-rubric-primary-color;
}

.module-rubric-title {
  text-align: right;
  font-size: $module-rubric-title-size;
}

.module-rubric-descriptor {
  font-weight: 200;
  font-size: $module-rubric-font-size;
}

.module-rubric-content {
  font-size: $module-rubric-font-size;
}
