@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/aos/src/sass/aos.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "../config/import.scss";


html, body, .module_loader{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.module_loader {
  overflow-y: auto;
  overflow-x: hidden;
}
