html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.module-loader {
  overflow-y: auto;
}

section {
  background-color: $secondary-color;

  &:nth-child(2n+1) {
    background-color: $primary-color;
  }
}
