html, body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.module_loader {
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  background-color: $secondary-color;
}

section:nth-child(2n+1) {
  background-color: $primary-color;
}
