.module_rubrique {
  padding: 20px;
  background-color: $secondary-color;

  article {
    margin-bottom: 20px;
    border-bottom-color: $gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.module_rubrique:nth-child(2n+1) {
  background-color: $primary-color;
}
