$module_rubrique_space: 20px;

.module_rubrique {
  background-color: $secondary-color;
  padding: 10%;
  padding-top: $module_rubrique_space;
  padding-bottom: $module_rubrique_space;

  article {
    margin-bottom: $module_rubrique_space;
    border-bottom-color: $gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: $module_rubrique_space;
  }
}

.module_rubrique:nth-child(2n+1) {
  background-color: $primary-color;
}

.module_rubrique_title {
  text-align: right;
  font-size: 40px;
}

.module_rubrique_descriptor {
  font-weight: 200;
  font-size: 25px;
}

.module_rubrique_content {
  width: 90%;
  margin-left: 10%;
  font-size: 22px;
}
